@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$primaryFont: Noto Sans;
$secondaryFont: Roboto Slab;
$primaryFontCol: #000000;
$secondaryFontCol: #FFFFFF;

@mixin navFont{
    font-family: $primaryFont;
    color: $secondaryFontCol;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    // font-weight: 400;
}

@mixin navSubHeading{
    font-family: $primaryFont;
    color: $secondaryFontCol;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

@mixin headingFont{
  font-family: $secondaryFont;
  font-weight: 700;
  color: $primaryFontCol;
  font-size: 35px;
}

@mixin subheadingFont{
  font-family: $secondaryFont;
  font-weight: 300;
  color: $primaryFontCol;
  font-size: 30px;
}

@mixin menuHeading{
  font-family: $primaryFont;
  font-size: 25px;
  color: $primaryFontCol;
}

@mixin menuSubheading{
  font-family: $secondaryFont;
  font-weight:700;
  font-size: 20px;
  color: $primaryFontCol;
}

@mixin mainbodyText{
  font-family: $primaryFont;
  font-size: 18px;
  color: $primaryFontCol;
  list-style: none;
}

@mixin btnText{
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 17px;
  color: $primaryFontCol;
}

@mixin radioFont{
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 17px;
  color: #F4B3C8;
}

@mixin keyFont{
  font-family: $primaryFont;
  font-size: 13px;
  color: #4A4A4A;
}

@mixin footerFont{
  font-family: $primaryFont;
  font-size: 15px;
  color: #4A4A4A;
}

// body{
//   background-color: #ff69b4;
// }

.nav-item{
  @include navFont;
}

.dropdown-item{
  @include navSubHeading;
}

#heading{
  @include headingFont;
}
#subHeading{
  @include subheadingFont;
}

.containerMenuTitle h3{
    @include menuHeading;
}

.containerMenuIngre h4{
  @include menuSubheading;
}

.containerMenu li{
  @include mainbodyText;
}

.btn h4{
  @include btnText;
}

.radioText{
  @include radioFont;
}

#key h5{
  @include keyFont;
}

#footer h5{
  @include footerFont;
}
