@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
$primaryFont: 'Noto Sans', sans-serif;
$secondaryFont: 'Roboto Slab', sans-serif;
$primaryFontCol: #000000;
$secondaryFontCol: #FFFFFF;

@mixin navFont{
    font-family: $primaryFont;
    color: $secondaryFontCol;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

@mixin navSubHeading{
    font-family: $primaryFont;
    color: $secondaryFontCol;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

@mixin headingFont{
  font-family: $secondaryFont;
  font-weight: 700;
  color: $primaryFontCol;
  font-size: 50px;
  text-align: center;
}

@mixin subheadingFont{
  font-family: $secondaryFont;
  font-weight: 300;
  color: $primaryFontCol;
  font-size: 45px;
  text-align: center;
}

@mixin menuHeading{
  font-family: $primaryFont;
  font-size: 25px;
  color: $primaryFontCol;
  text-align: center;
  font-weight: 400;
}

@mixin menuSubheading{
  font-family: $secondaryFont;
  font-weight:700;
  font-size: 20px;
  color: $primaryFontCol;
}

@mixin mainText{
  font-family: $primaryFont;
  font-size: 18px;
  color: $primaryFontCol;
  list-style: none;
  font-weight: 400;
}

@mixin btnText{
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 20px;
  color: $secondaryFontCol;
}

@mixin checkmarkFont{
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 17px;
  color: #F4B3C8;
}

@mixin keyFont{
  font-family: $primaryFont;
  font-size: 13px;
  color: #4A4A4A;
}

@mixin footerFont{
  font-family: $primaryFont;
  font-size: 15px;
  color: #4A4A4A;
}

.nav-item{
  @include navFont;
}

.dropdown-item{
  @include navSubHeading;
}

#heading-large{
  @include headingFont;
}
#subHeading-med{
  @include subheadingFont;
}

.title-large{
    @include menuHeading;
}

.subTitle-bold{
  @include menuSubheading;
}

.container-list-item{
  @include mainText;
}

#radio-bttn-text{
  @include btnText;
}

.checkmark-text-pink{
  @include checkmarkFont;
}

#key h5{
  @include keyFont;
}

#footer h5{
  @include footerFont;
}
