$columns: 12;
$columnWidth: 100% / $columns;

$mdWidth: 768px;
$lgWidth: 1200px;

.row{
  &:after{
    clear: both;
    display: block;
    content: '';
  }
}

.col{
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

@for $i from 1 through $columns{
  .col#{$i}{
    width: $columnWidth * $i;
  }
}
