*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Grid Layout//
$columns: 12;
$columnsWidth: 100% / $columns;
$smWidth: 479px;
$mdWidth: 768px;
$lgWidth: 1200px;
$headingOp: rgba(255, 255, 255, 0.8);
@mixin rowClear{
  clear: both;
  display: block;
  content: '';
}

@mixin colLayout{
  float: left;
  padding: 0px 15px 0px 15px;
    @for $i from 1 through $columns{
        .col#{$i}{
        width: $columnsWidth * $i;
      }
    }
}

.row{
    &::after{
      @include rowClear;
    }
  }

.col{
  @include colLayout;
  }

//Layout of content//

@mixin dropdownContent{
  display: none;
  position: absolute;
  overflow: hidden;
  min-width: 20%;
  margin-top: 2.8%;
  margin-left: -2%;
  padding: 2%;
  z-index: 1;
}


.nav{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 8vh;
  background-color: #EB6F97;

    .nav-item-img{
      margin: 0;
        #logo{
          width: 50%;
          margin: 5% 0 0 15%;
        };
      };

      .nav-list{
        width: 50%;
        margin-left: 20%;
        position: absolute;
        top: 25%;

          .nav-item{
            display: inline-block;
            height: 5vh;
            float: left;
            padding: 0 2% 0 10%;
           };

          .dropdown{
                .dropdown-content{
                  @include dropdownContent;
                  .dropdown-list{
                    // display: none;
                  }
                  .dropdown-item{
                    width: 80%;
                    margin-left: 10%;
                    margin-bottom: 3%;
                  };
                  .drop-text-med{
                    font-size: 18px;
                  };
                };
              };
           };


       //hamburger nav//
     //   #navHam{
     //     min-height: 10px;
     //     padding: 10px;
     //     background-color: #EB6F97;
     //     #navHam::after{
     //     clear: both;
     //     content: '';
     //     display: block;
     // }
       // #navIcon{
       //   display: none;
       // }

  // @media screen and (max-width: 600px){
  //   #navIcon{
  //       display: block;
  //       float: right;
  //       color: white;
  //   }
  //
  //   #navList{
  //     display: none;
  //     float: none;
  //     clear: both;
  //     border-top: 1px solid white;
  //   }
  //
  //   #navList ul li{
  //   float: none;
  //   padding-top: 20px;
  //   }
  //
  //   #navList li:hover{
  //       background-color: #EB6F97;
  //       opacity: 50%;
  //   }
  // }
  // @media screen and (min-width: 601px){
  //   #navList{
  //     display: inline-block !important;
  //   }
  // }
};

//header layout//

.banner-header{
  width: 100%;
  height: 80vh;
};


 .header-item-large{
  position: relative;
  top: 30%;
  left: 30%;

  #heading-large{
    background-color: $headingOp;
    width: 45%;
    padding: 1% 2%;
  };
};

.header-item-small{
  position: absolute;
  top: 50%;
  left: 35%;

  #subHeading-med{
    background-color: $headingOp;
    width: 65%;
    padding: 2% 3%;
  };
};

//menu layout//

.container-item{
  margin: 1% 1% 0 5%;

  .title-large{
    width: 20%;
    margin-left: 10%;
  };

  .container-item-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
    .subTitle-bold{
      margin-bottom: 4%;
    };
  };

  .radio-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
      .radio-bttn-pink{
       margin-bottom: 2%
     };
  };

  .checkmark-container{
    display: flex;
    flex-direction: row;
    .checkmark-item{
      margin-right: 2%;
      padding-left: 2%;
    };
  };

};





//media queries for Grid//
@media (min-width: $smWidth) {
  @for $i from 1 through $columns{
    .colS#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $mdWidth) {
  @for $i from 1 through $columns{
    .colM#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $lgWidth) {
  @for $i from 1 through $columns{
    .colL#{$i}{
      width: $columnsWidth * $i;
    }
  }
}
