*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Grid Layout//
$columns: 12;
$columnsWidth: 100% / $columns;
$smWidth: 479px;
$mdWidth: 768px;
$lgWidth: 1200px;
@mixin rowClear{
  clear: both;
  display: block;
  content: '';
}

@mixin colLayout{
  float: left;
  padding: 0px 15px 0px 15px;
    @for $i from 1 through $columns{
        .col#{$i}{
        width: $columnsWidth * $i;
      }
    }
}

.row{
    &::after{
      @include rowClear;
    }
  }

.col{
  @include colLayout;
  }

//Layout of content//

@mixin dropdownContent{
  // display: none;
  position: absolute;
  overflow: hidden;
  min-width: 15%;
  margin-top: 1%;
  margin-left: -2%;
  padding: 1%;
  z-index: 1;
}


.nav{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 10vh;

  .nav-list{
    width: 80%;
    margin-left: 20%;
    position: absolute;
    top: 25%;

      .nav-item{
        display: inline-block;
        width: 20%;
        height: 5vh;
        float: left;
        padding-left: 5%;
       };

      .dropdown{
        padding: 0;
            .dropdown-content{
              @include dropdownContent;
              .dropdown-list{
                // display: none;
              }
              .dropdown-item{
                width: 80%;
                margin-left: 10%;
                margin-bottom: 3%;
              };
              .drop-text-med{
                font-size: 18px;
              };
            };
          };
       };


       //hamburger nav//
     //   #navHam{
     //     min-height: 10px;
     //     padding: 10px;
     //     background-color: #EB6F97;
     //     #navHam::after{
     //     clear: both;
     //     content: '';
     //     display: block;
     // }
       // #navIcon{
       //   display: none;
       // }

  @media screen and (max-width: 600px){
    #navIcon{
        display: block;
        float: right;
        color: white;
    }

    #navList{
      display: none;
      float: none;
      clear: both;
      border-top: 1px solid white;
    }

    #navList ul li{
    float: none;
    padding-top: 20px;
    }

    #navList li:hover{
        background-color: #EB6F97;
        opacity: 50%;
    }
  }
  @media screen and (min-width: 601px){
    #navList{
      display: inline-block !important;
    }
  }


  .nav-item-img{
    margin: 0;
      #logo{
        width: 50%;
        margin: 5% 0 0 15%;
      }
    }
  }










 .textContainer h1{
  position: relative;
  top: 380px;
  left: 300px;
}

.textContainer h2{
  position: absolute;
  top: 600px;
  left: 500px;
}

.containerMenu{
  margin-left: 3%;
}

.containerMenuTitle h3{
  padding-left: 15%;
  padding-bottom: 5%;
}

.containerMenuIngre{
  h4{
    margin-bottom: 4%;
  }
}




//media queries for Grid//
@media (min-width: $smWidth) {
  @for $i from 1 through $columns{
    .colS#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $mdWidth) {
  @for $i from 1 through $columns{
    .colM#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $lgWidth) {
  @for $i from 1 through $columns{
    .colL#{$i}{
      width: $columnsWidth * $i;
    }
  }
}
