*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Grid Layout//
$columns: 12;
$columnsWidth: 100% / $columns;
$smWidth: 479px;
$mdWidth: 768px;
$lgWidth: 1200px;

.row{
  margin-bottom: 15px;
  &::after{
    clear: both;
    display: block;
    content: '';
  }
}

.col{
  float: left;
  padding: 0px 15px 0px 15px;
}

@for $i from 1 through $columns{
  .col#{$i}{
    width: $columnsWidth * $i;
  }
}
//Layout of content//
.nav{
    display: block;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 15vh;
    z-index: 1;

    .imgLogoContainer{
      //margin: 0;//
    #imgLogo{
      width: 200px;
      margin: 20px 0 0 20px;
    }
  }

    ul{
      width: 80%;
      margin-left: 25%;
      position: absolute;
      top: 50px;

    }
    li{
      display: inline-block;
      width: 20%;
      height: 5vh;
      float: left;
      margin-bottom: 1%;
    }
}

 .textContainer h1{
  position: relative;
  top: 380px;
  left: 300px;
}

.textContainer h2{
  position: absolute;
  top: 600px;
  left: 500px;
}

.containerMenu{
  margin-left: 3%;
}

.containerMenuTitle h3{
  padding-left: 15%;
  padding-bottom: 5%;
}

.containerMenuIngre{
  h4{
    margin-bottom: 4%;
  }




}








//media queries for Grid//
@media (min-width: $smWidth) {
  @for $i from 1 through $columns{
    .colS#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $mdWidth) {
  @for $i from 1 through $columns{
    .colM#{$i}{
      width: $columnsWidth * $i;
    }
  }
}

@media (min-width: $lgWidth) {
  @for $i from 1 through $columns{
    .colL#{$i}{
      width: $columnsWidth * $i;
    }
  }
}
