@import '_fontStyling';
@import '_layout';
$imgWidth: 455px;
$imgHeight: 396px;

@mixin dropdownStyling{
    background-color: #EB6F97;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  }

  .dropdown-content{
    @include dropdownStyling;
  }

  @mixin dropBtn{
    border: none;
    background: none;
  }

@mixin imgStyling{
  width: $imgWidth;
  height: $imgHeight;
}

@mixin bannerImgStyle{
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 1900px 1030px;
}

#charSiuImg{
  @include imgStyling;
}

#lemChickImg{
  @include imgStyling;
}

#shoyuImg{
  @include imgStyling;
}

#simpleImg{
  @include imgStyling;
}

#banner-header-content{
  @include bannerImgStyle;
  background-image: url('../img/bannerImg.jpg');
}
