@import '_fontStyling';
@import '_layout';
// $imgWidth: 455px;
// $imgHeight: 396px;
$imgWidth: 500px;
$imgHeight: 450px;
//nav dropdown//
@mixin dropdownStyling{
    background-color: #EB6F97;
    opacity: 0.8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  };

  .dropdown-content{
    @include dropdownStyling;
  };

  @mixin dropBtn{
    border: none;
    background: none;
  };

//header//
@mixin bannerImgStyle{
  background-repeat: no-repeat;
  background-size: 1900px 1030px;
};

#banner-header-content{
  @include bannerImgStyle;
  background-image: url('../img/bannerImg.jpg');
};

//menu content//
@mixin imgStyling{
  width: $imgWidth;
  height: $imgHeight;
};

#container-item-img-1{
  @include imgStyling;
}

#container-item-img-2{
  @include imgStyling;
}

#container-item-img-3{
  @include imgStyling;
}

#container-item-img-4{
  @include imgStyling;
}



//button//
.radio-bttn-pink{
  background-color: #f4b3c8;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  padding: 4%;
}

//checkmark radio button styling//
  .checkmark-bttn{
    width: 70%;
    display: block;
    position: relative;
    margin-bottom: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .checkmark-bttn input{
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    };

    .checkmark{
      position: absolute;
      top: 0;
      left: 0;
      height: 1.7vh;
      width: 100%;
      background-color: #ffffff;
      border: solid 2px #000000;
      border-radius: 50%;
    };
  };

.container-list{
    min-width: 40%;
}
