@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$primaryFont: Noto Sans;
$secondaryFont: Roboto Slab;
$primaryFontCol: #000000;
$secondaryFontCol: #FFFFFF;
$headingFont: Roboto Slab 700;
$menuSubHead: Robot Slab 700;

@mixin font-face{
  font-family: $primaryFont;
  color: $secondaryFontCol;
  font-size: 25px;
}

@mixin font-face{
  font-family: $headingFont;
  color: $primaryFontCol;
  font-size: 43px;
}

@mixin font-face{
  font-family: $subHeadingFont;
  color: $primaryFontCol;
  font-size: 40px;
}
